* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--primary-orange: hsl(25, 97%, 53%);
	--neutral-white: hsl(0, 0%, 100%);
	--neutral-light-grey: hsl(217, 12%, 63%);
	--neutral-medium-grey: hsl(216, 12%, 54%);
	--neutral-dark-blue: hsl(213, 19%, 18%);
}

body{
    background-color: var(--neutral-dark-blue);
    font-family: "Overpass", sans-serif;
    font-size: 15px;
    min-width: 375px;
}


.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
