html {
	font-size: 62.5%;
	box-sizing: border-box;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

:root {
	--primary-orange: hsl(25, 97%, 53%);
	--neutral-white: hsl(0, 0%, 100%);
	--neutral-light-grey: hsl(217, 12%, 63%);
	--neutral-medium-grey: hsl(216, 12%, 54%);
	--neutral-dark-blue: hsl(213, 19%, 18%);
	--neutral-medium-blue: hsl(228, 45%, 44%);
	--neutral-light-blue: #262f38;
	--neutral-dark: hsl(228, 11%, 9%);
	--sm: 1.4rem;
	--md: 1.5rem;
	--lg: 2.6rem;
}

body {
	background-color: var(--neutral-dark);
	color: var(--neutral-light-grey);
	display: grid;
	font-family: "Overpass", sans-serif;
	font-size: var(--sm);
	font-weight: 400;
	grid-template-rows: 1fr auto;
	line-height: 1.5;
	min-height: 100vh;
	min-width: 375px;
}

h1 {
	font-size: var(--lg);
	color: var(--neutral-white);
	font-weight: 700;
}
.main-container {
	place-self: center;
}

.section-rating__card-rating {
	display: grid;
	grid-template-rows: auto repeat(3, 1fr) auto;
}
.section-rating__card-classification {
	display: grid;
	align-items: center;
}
.section-rating__card-rating,
.section-rating__card-classification {
	width: 328px;
	height: 360px;
	background-image: linear-gradient(180deg, #222933 0, #191d28 100%);
	border-radius: 30px;
	padding: 25px;
}

.section-rating__card-rating__star-container,
.section-rating__card-rating__button {
	border-radius: 50%;
	width: 40px;
	height: 40px;
	border: none;
	background-color: var(--neutral-light-blue);
	color: var(--neutral-light-grey);
}

.section-rating__card-rating__star-container {
	display: flex;
}
.section-rating__card-rating__star-container__image {
	margin: auto auto;
}
.section-rating__card-rating__h1 {
	margin: 16px 0 14px 0;
}

.section-rating__card-rating__buttons-container {
	display: flex;
	justify-content: space-between;
	margin: 25px 0;
}

.section-rating__card-rating__button:hover {
	background-color: var(--primary-orange);
	color: var(--neutral-white);
	cursor: pointer;
}

.section-rating__card-rating__button:focus {
	background-color: var(--neutral-light-grey);
	color: var(--neutral-white);
	cursor: pointer;
}

.section-rating__card-rating__submit-button {
	color: var(--neutral-white);
	background-color: var(--primary-orange);
	border: none;
	width: 100%;
	height: 45px;
	border-radius: 25px;
	letter-spacing: 3px;
	font-size: var(--md);
}

.section-rating__card-rating__submit-button:hover {
	background-color: var(--neutral-white);
	color: var(--primary-orange);
	cursor: pointer;
}

.section-rating__card-classification {
	text-align: center;
}

.section-rating__card-classification__selection-container {
	
	color: var(--primary-orange);
	background-color: var(--neutral-light-blue);
	padding: 8px;
	margin: 20px 40px 0 40px;
	border-radius: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.section-rating__card-classification__h1 {
	margin: 22px 0 12px 0;
}

.inactive {
	display: none;
}

.footer-container {
	height: 30px;
	position: absolute;
	bottom: 0;
	justify-self: center;
}
.footer-container__attribution {
	font-size: 11px;
	text-align: center;
}
.footer-container__attribution__a {
	color: var(--neutral-medium-blue);
}
